html, body {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

canvas {
  display: block;
}
